{% extends 'base.html.twig' %}

{% block title %}{{ 'head_title.category.index'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'head_title.category.index'|trans }}</h1>
    {% include 'layout/modal.html.twig' with {
        modalId: 'addCategory',
        buttonText: 'btn.add_category'|trans,
        modalTitle: 'modal_title.add_category'|trans,
        modalBody: 'app/category/_form.html.twig',
        form: formAdd
    } %}
    {% include 'layout/collapse--button.html.twig' with {
        collapseId: 'filterForm',
        buttonText: 'label.filters'|trans
    } %}

    {% include 'layout/collapse.html.twig' with {
        collapseId: 'filterForm',
        collapseBody: 'app/category/_filter.html.twig',
        form: formFilter
    } %}

    {% include 'layout/table.html.twig' with {
        tableHead: ['category', 'amount', 'balance'],
        tableRow: 'layout/tableRow/category.html.twig'
    } %}
{% endblock %}