@import url("_variables.css");
@import url("header.css");

*, ::before, ::after {
    box-sizing: border-box;
}
body {
    background-color: var(--color-body);
}
main {
    width: 80%;
    margin: 0 auto;
}