header {
    position: relative;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #00BAF0;
    color: #FFF;
    padding: 16px;
}
#menu-toggle {
    display: none;
}
#menu-button-container {
    width: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
#menu-button,
#menu-button-container::before,
#menu-button-container::after {
    display: block;
    background-color: white;
    height: 4px;
    width: 100%;
    border-radius: 2px;
}
#menu-button-container::before,
#menu-button-container::after {
    content: "";
}
/*#menu {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    position: absolute;*/
/*    top: 60px;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    list-style-type: none;*/
/*}*/
/*#menu-toggle ~ #menu a {*/
/*    font: 600 20px Roboto, sans-serif;*/
/*    text-decoration: none;*/
/*    color: white;*/
/*    overflow: hidden;*/
/*    height: 0;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    border: none;*/
/*    display: block;*/
/*    width: 100%;*/
/*    background-color: #222;*/
/*    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);*/
/*}*/
/*#menu-toggle:checked ~ #menu a*/
/*{*/
/*    border: 1px solid #333;*/
/*    padding: 12px 24px;*/
/*}*/
