<ul id="menu">
    <li>
        <a href="{{ path('app_expense_index') }}">
            {{ 'menu.expenses'|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('app_category_index') }}">
            {{ 'menu.categories'|trans }}
        </a>
    </li>
</ul>